<!DOCTYPE html>
<html lang="pt-br">
<%- include('../../partials/head.ejs') %> 
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/admin/list/index" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/admin/list/index" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/list/newList" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Criar Tarefa</span> </a>
                        </li>
                   
                    </ul>
                    <div class="text-center">
                        <p>v1.0 <%- include('../../partials/iconsGithub.ejs') %></p>
                        <p>&copy; Todos direitos reservados</p>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <h1 class="text-center mt-3 mb-4">Crie suas Tarefas</h1>

                <form action="/list/save" method="POST" class="m-3">
                    <input class="form-control" placeholder="defina o nome da tarefa" type="text" name="title" required>

                    <input type="text" class="form-control mt-4 mb-4" placeholder="coloque a hora que começa e a hora que termina" name="horarios" required >

                    <input type="text" class="form-control" placeholder="defina os dias da semana que essa tarefa se aplica" name="diaSemana" required>
                    <button class="btn btn-success mt-4">Criar Tarefa</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../../partials/foot.ejs') %> 
</body>
</html>